---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="d-flex align-items-center justify-content-center"
    style="height: 90vh;"
  >
    <form class="shadow-lg rounded-2 p-5 bg-dark" style="width: 400px;">
      <h1 class="display-5 text-center mb-5 fw-bold text-light opacity-75">
        Login
      </h1>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input
          type="email"
          class="form-control bg-light-subtle"
          id="email"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control bg-light-subtle" id="pass" />
      </div>
      <button
        type="button"
        class="btn bg-primary-subtle text-primary-emphasis w-100"
        id="submit">Go!</button
      >
    </form>
  </main>
</Layout>

<script>
  const isLogged = localStorage.getItem("login");
  console.log(isLogged);
  if (isLogged == "1") {
    location.href = "/products";
  }
  const emailInput = document.getElementById("email") as HTMLInputElement;
  const passInput = document.getElementById("pass") as HTMLInputElement;
  const submitButton = document.getElementById("submit");

  submitButton?.addEventListener("click", () => {
    if (!emailInput.value.length || !passInput.value.length) {
      alert("Debe llenar todos los campos para iniciar sesión");
    } else if (emailInput.value !== "admin" || passInput.value !== "admin123") {
      alert("Usuario o contraseña incorrecta");
    } else {
      localStorage.setItem("login", "1");
      location.href = "/products";
    }
  });
</script>
